.option__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.3s linear opacity;
	opacity: 1;
	transition-delay: 0.2s;

	&.close__wrap {
		transition-delay: 0s;
		transition: 0.1s;
		opacity: 0;
		pointer-events: none;
	}
	.sort__options {
		margin: 1rem 0 0.5rem;
		position: relative;

		.sort__option_role-title {
			width: 90%;
			margin: 0 auto;
			position: relative;
			h5 {
				margin: 0.2rem 0;
				text-align: center;
				color: #fff;
			}
		}
		.default__sort {
			position: absolute;
			right: -17px;
			top: 25%;
			cursor: pointer;
			.default__sort_icon {
				color: red;
			}
		}
	}

	.archive__checkbox {
		margin: 5px 0px;
		width: 100px;

		label {
			color: #fff;
		}

		input {
			width: 25px;
			background: red;
		}
	}

	.option__wrap_btn {
		width: 90%;
		button {
			margin: 10px 0px;
			padding: 10px 20px;
			border-radius: 6px;
			border: none;
			background-color: #fff;
			width: 100%;
			cursor: pointer;
			font-weight: 600;
			transition: 0.15s linear;
			&:hover {
				letter-spacing: -0.5px;
				box-shadow: 5px 3px 10px #000;
				background-color: rgb(235, 235, 235);
			}

			&:active {
				box-shadow: 8px 6px 10px #000;
				background-color: rgb(216, 216, 216);
			}
		}
	}
}
